:root{
  --lotsOfYellow: #F0A500;
  --kindaBlue: #334756;
  --navyBlue: #082032;
  --black: #000000;
  }

*{
	padding:0;
	margin:0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
   }
li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--navyBlue);
    color: #fff;
    z-index:10000;
    width:100%;
    position:fixed;

   }

   .nav-links a {
    color: white;
   }
   /* LOGO */
   #logotext{
       position:relative;
       top:4px;
       color:white;
       font-family: 'Zen Dots', cursive;
   }
   #logotext2{
       color:var(--lotsOfYellow);
   }
   .logo {
    font-size: 32px;
    color:rgb(255, 255, 255);
    height:60px;
    padding-right:10px;
    border-right:0.1px solid var(--lotsOfYellow);
   }
   .logo:hover #logotext{
    color:var(--lotsOfYellow);
    transition:color 2s;
   }
   .logo:hover #logotext2{
    color:white;
    transition:color 1s;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    z-index:1;
   }
   .menu li:hover {

    text-decoration-color:var(--lotsOfYellow);
    border-radius: 20px;
    background-color: var(--lotsOfYellow);
    transition: 0.7s ease;
   }
   .menu li {
    padding: 5px 14px;


   }
   .menu li:hover > a {
    color:var(--navyBlue);
    transition: 0.7s ease;
   }

   /* DROPDOWN MENU */
   .services {
    position: relative;
   }

@keyframes textAppear{
    0%{opacity:0;}
    51%{opacity:0;}
    100%{opacity:1;}
}
.services:hover .dropdown li{
    display: block;
    animation-name:textAppear;
    animation-duration:2s;
}
html{
	background-color: whitesmoke;
}

body{

    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    background-color:whitesmoke;
    transition:0.3s ease;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:190px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

header span{
	color: #FFE600;
}


/* footer */

footer{
	position: relative;
	bottom: 0;
}




.footer-distributed{
	background-color: var(--navyBlue);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 33px  'Zen Dots', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  var(--lotsOfYellow);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}.footer-distributed .footer-links a:hover{
	text-decoration:underline 2.5px;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  var(--kindaBlue);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--lotsOfYellow);
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;

	margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  var(--kindaBlue);
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 2px;
}
#icon1{
    padding-top:8px;
}




#id{
    position:relative;

}


#checkbox_toggle{
    display: none;
   }
   /*three line menu thing*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }



/* Slideshow */

.slideshow-container{
    background-color:#0a0a0a;
    position:relative;

}
.actual-slideshow-container{
    background-color:whitesmoke;
    z-index:2;
    width:100%;
    height:654px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--kindaBlue);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position:relative;
    bottom:50px;
    z-index:3;

  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -82px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 10px 0 0 10px;
  }
  .prev:hover, .next:hover {
    background-color: var(--navyBlue);


  }

  .fadeinanimation{
    animation-name: fadeIn;
    animation-duration: 1s;

  }

  /*
  @keyframes fadeIn{
    0% {opacity: 1;transform: translateX(0%);}
    100% {opacity: 0.4;transform: translateX(-100%);}


}
*/
@keyframes fadeIn{
    0% {opacity: 0.4; }
    100% {opacity: 1; }


}
@keyframes lineAppear{
  0%{transform: translateX(0px)
  }
  100%{transform:translateX(20px)}
}




.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
  	grid-row-gap: 30px;
  	grid-column-gap: 30px;
  	background-color: rgba(0,0,0,0);
  	padding: 10px;
  	margin: 80px;
  	height: 720px;
      z-index:1;


}
.grid-container > div {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  border-radius: 25px;
}

.item1{
	grid-row-start: 1;
	grid-row-end: 3;
}

#PlaceHolder{
    font-family: 'Zen Dots', cursive;
    font-size:30px;
	text-align: center;

}
.searchbar{
    position:relative;
    top:3px;
}
#searchbutton{
    height:25px;
    width:25px;
    position:relative;
    right:4.2px;

    color:var(--navyBlue);
    border:2px solid var(--lotsOfYellow);
    border-radius: 100%;
    background-color:var(--lotsOfYellow) ;
    cursor:pointer;

}
#cart-button-home{
    height:25px;
    width:25px;
    position:relative;
    top:3.2px;

    color:var(--navyBlue);
    border:2px solid var(--lotsOfYellow);
    border-radius: 100%;
    background-color: var(--lotsOfYellow);
    cursor:pointer;
}
#cart-button-home1{
 height:25px;
    width:25px;
    position:relative;
    top:3.2px;

    color:var(--navyBlue);
    border:2px solid var(--lotsOfYellow);
    border-radius: 100%;
    background-color: var(--lotsOfYellow);
    cursor:pointer;
}
#cart-button-home:hover{
  background-color: white;
  transition:0.5s;
}
#cart-button-home1:hover{
  background-color: white;
  transition:0.5s;
}

#actualsearchbar{
    height:25px;
    border:0px transparent;
    border-radius: 10px 0 0 10px;
    display:inline-flex;
    width:0px;
    position:relative;
    bottom:5px;


}

.searchbar:hover #searchbutton{
border-radius:0 10px 10px 0;
background-color: white;
transition:2s ease;
}

.searchbar:hover #actualsearchbar{

   width:200px;
   transition: 1.5s ease;

   padding-left:10px;
}


    /*history*/
    #history-parallax {
        /* The image used */
        background-image: url("images/p6_10.jpg");

        /* Full height */
        height: 800px;
        width:1700px;
        margin-left:100px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x:hidden;
      }
      #history-text{
          position:relative;
          top:25%;
          right:-5%;
          color:var(--navyBlue);
          font-size:38px;
          animation:history-animation;
          animation-duration:2s;
          user-select: none;
          text-shadow:2px 2px #f0a4006e;

            font-family: 'Raleway', sans-serif;
            font-weight: 700;




      }
      #history-subtext{
        position:relative;
        top:25%;
        right:-2%;
        color:var(--lotsOfYellow);
        font-size:20px;
        animation:history-animation;
        animation-duration:2s;
        max-width:550px;
        max-height:200px;
        padding:10px;
        border-radius:10px;
        border:solid 1px #2c292f;
        background-color:var(--navyBlue);
        text-align:center;
        user-select: none;
        text-shadow:none;




    }

  #history-subtext span{
    font-size:30px;



}
#history-subtext:hover{
  background-color:var(--kindaBlue);
  color:var(--lotsOfYellow);
  font-weight:bold;
  transition:.5s;




}
@keyframes history-animation{
    0%{transform:translateX(100px);opacity:0;}
    100%{transform:translateX(0); opacity:1;}

}
@keyframes history-animation2{
   0%{opacity:1;}
   100%{opacity:0;}

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,500&family=Raleway:wght@300;400;500;600;700;800&family=Source+Code+Pro:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.store-grid-container{
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 100px;
	font-family: 'Zen Dots', cursive;
	user-select: none;
}
.store-grid-row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-column-gap: 10px;
}
.store-grid-column-1{
	display: grid;
	grid-template: auto;
	grid-row-gap: 10px;
	height: 600px;
}
.store-grid-column-3{
	display: grid;
	grid-row-gap: 10px;
	height: 600px;
}
.store-grid-image{
    background: black;
    position: relative;
    flex: auto;
    max-width: 295px;
    height: 295px;
    overflow: hidden;
	margin: 0px;

}
.store-grid-image img{
    opacity: 1;
    position: relative;
    vertical-align: top;
    transition: 0.3s;
	height: 295px;

}
.store-grid-image:hover img{
    opacity: 0.3;
}
.store-grid-image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color: orange;
    height: 100%;
}
.store-grid-image .details h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.3s;
    transition-property: transform;
}
.store-grid-image .details h2 span{
    font-weight: 900;
}
.store-grid-image:hover .details h2{
    transform: translateY(-30px);
}
.store-grid-image .details p{
    margin: 30px 30px 0 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity,transform;
    color: white;
}
.store-grid-image:hover .details p{
    opacity: 1;
    transform: translateY(-40px);
}
.store-grid-more{
    position: absolute;
    background: var(--navyBlue);
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: -75px;
    transition: 0.6s;
    transition-property: bottom;
}
.store-grid-image:hover .store-grid-more{
    bottom: 0;
}
.store-grid-more .read-more{
    color: var(--lotsOfYellow);
    text-decoration: 20px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.store-grid-more .read-more span{
    font-weight: 900;
}
.store-grid-more .icon-links i{
    color: #000;
    font-size: 15px;
}
.store-grid-more .icon-links a:not(:last-child)i {
    margin-right: 20px;
}





/*for the middle picture*/
.store-grid-image-middle{
    background: black;
    position: relative;
    flex: auto;
    max-width: 600px;
    height: 600px;
    overflow: hidden;
}
.store-grid-image-middle img{
    opacity: 1;
    position: relative;
    vertical-align: top;
    transition: 0.3s;
	width: 600px

}
.store-grid-image-middle:hover img{
    opacity: 0.3;
}
.store-grid-image-middle .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color: orange;
    height: 100%;
}
.store-grid-image-middle .details h2{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.3s;
    transition-property: transform;
}
.store-grid-image-middle .details h2 span{
    font-weight: 900;
}
.store-grid-image:hover .details h2{
    transform: translateY(-30px);
}
.store-grid-image-middle .details p{
    margin: 30px 30px 0 30px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity,transform;
    color: white;
}
.store-grid-image-middle:hover .details p{
    opacity: 1;
    transform: translateY(-40px);
}
.store-grid-image-middle:hover .store-grid-more{
    bottom: 0;
}
@media (max-width: 1080px){
  .store-grid-image{
        flex: 100%;
        max-width: 250px;
    }
}
@media (max-width:400px){
  .store-grid-image .details p{
        font-size: 13px;
    }
}




/* News thing
*/
.news-title-on-homepage{
  font-size: 35px;
  text-align: center;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 30px;
}
.news-on-homepage{
  position: relative;
  background-color: whitesmoke;

  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  height:750px;
  width:70%;
  left: 50%;
  margin-left: -35%;
}
.news-onhome-1{
  display: flex;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.news-onhome-2{
  display: flex;
  padding: 50px;
  padding-left: 150px;
  padding-right: 150px;
}
.news-onhome-content{
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  background-color:white;
  padding-top:20px;
}
.news-onhome-img{
  width: 400px;
}
.news-onhome-dates{
  font-size: 10px;
  text-align: justify;
}
.news-onhome-heading{
  font-size: 22px;
  margin-block-start: 0px;
  margin-block-end:1em;
}

.news-onhome-p{
  font-size: 14px;
}

.news-onhome-read-more{
  text-align: center;
  color: white;
  background-color: var(--navyBlue);
  width: 150px;
  height: 40px;
  padding-top:8px;
  border-radius: 10px;
  border: solid 2px var(--navyBlue);

}

.news-onhome-read-more:hover{
  background-color: white;
  cursor: pointer;
  color: black;
  transition: 0.7s ease;
}

.rover-reviews {
    background: transparent;
    color: #333;
    padding: 30px 0 25px 0;
    overflow: hidden;
    position:absolute;
    left:20%;
  }

  .pull-left{
    float:left!important
  }
  .pull-right{
    float:right!important
  }
  .col-md-3{
    width:25%
  }
  .col-md-2{
    width:16.66666667%
  }
  .col-md-12{
    width:100%
  }
  .col-md-9{
    width:75%
  }
  .row{
    margin-right:-15px;
    margin-left:-15px;
  }
  .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: left;
  }
  .container-fluid{
    padding-right:15px;
    padding-left:15px;
    margin-left:auto;
  }
  .rover-reviews .wrapper-left a {
    color: #333;
    font-weight: 600;
    text-decoration: underline;
  }
  .rover-reviews .wrapper-left {
    text-align: center;
  }
  .rover-reviews .wrapper-left .title {
    color: #333;
    font-size: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
  .rover-reviews .wrapper-left .rating img {
    max-width: 160px;
    margin: auto;
  }
  .rover-reviews .wrapper-left .info {
    color: #333;
    font-size: 13px;
    line-height: 45px;
  }
  .rover-reviews .wrapper-left .brand-logo img {
    max-width: 25px;
    margin: auto;
    margin-top: -10px;
    display: inline-block;
  }
  .rover-reviews .wrapper-left .brand-logo p {
    font-size: 18px;
    line-height: 35px;
    color: #333;
    text-align: center;
    display: inline-block;
  }
  .rover-reviews .reviews {
    margin-left: 2%
  }
  /* The controlsy */
  .rover-reviews .carousel-control {
      height: 25px;
      width: 25px;
      border: 1px solid #9E9E9E;
      border-radius: 50%;
      margin-top: 60px;
      font-size: 25px;
      background: transparent;
      line-height: 18px;
  }
  .rover-reviews .carousel-control.right {
    margin-right: -50px;
    color: #333;
    text-shadow: none;
  }
  .rover-reviews .carousel-control.left {
    left: -70px;
    color: #333;
    text-shadow: none;
  }
  .rover-reviews .carousel-control.right:hover, .rover-reviews .carousel-control.left:hover {
      color: #333;
  }
  .rover-reviews .carousel-inner .rating img {
    max-width: 110px
  }
  .rover-reviews .carousel-inner {
      overflow: hidden
  }
  .rover-reviews .carousel-inner .date, .rover-reviews .carousel-inner .name {
    color: rgba(0,0,0,0.6);
    font-size: 13px;
  }
  .rover-reviews .carousel-inner .title {
    margin: 15px 0 10px 0;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  .rover-reviews .carousel-inner .descriptions {
      min-height: 42px;
  }
  .rover-reviews .carousel-inner .name {
    margin-top: 25px
  }

  .carousel{
    position:relative
  }
  .reviews-title{
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 30px;
    position:relative;
    bottom:50px;
  }

@media (min-width :1920px){


}


@media (max-width:1800px) {
    .actual-slideshow-container{
        margin-bottom:10px;

    }

.store-grid-container{
    margin-right: 200px;
    margin-left: -75px;
    margin-top: 25px;
    position:relative;
    left:140px;
    overflow: hidden;
    }
    #history-parallax {
        height: 600px;
        width:1400px;
        margin-left:200px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;

    }
    .reviews-container-main{
        position:relative;
        bottom:110px;
        overflow: hidden;
    }



  }


  @media (max-width:1600px) {
    .actual-slideshow-container{
        position:relative;
        left:0px;
    }

.store-grid-container{
    margin-right: 200px;
    margin-left: -75px;
    margin-top: 25px;
    position:relative;
    left:140px;
    overflow: hidden;
    }
    #history-parallax {
        height: 600px;
        width:1400px;
        margin-left:100px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;

    }
    .reviews-container-main{
        position:relative;
        bottom:110px;
        overflow: hidden;
    }



  }




  @media (max-width:1400px) {
    .actual-slideshow-container{
        position:relative;
        left:0px;
    }

.store-grid-container{
    margin-right: 200px;
    margin-left: -50px;
    margin-top: 25px;
    position:relative;
    left:125px;
    overflow: hidden;
    }
    #history-parallax {
        height: 600px;
        width:  1300px;
        margin-left:57px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;

    }
    .reviews-container-main{
        position:relative;
        bottom:110px;
        overflow: hidden;
    }
    .footer-distributed{

		width: 100%;
    overflow: hidden;


	}

  .actual-slideshow-container{
    height:2vh;
    margin-bottom:0px;


  }
  .store-grid-image-middle .details p {
    font-size: 20px;
    position:relative;
    top:20px;
  }
  .store-grid-row{
    position:relative;
    right:150px;
  }
  .store-grid-container{
    margin-bottom:300px;
    overflow: hidden;
  }
  .store-grid-column-1{
    width:200px;
    height:200px;

      }
      .store-grid-column-2{
    width:350px;
    height:300px;

      }
      .store-grid-column-3{
        width:200px;
        height:200px;

          }

          .details .store-grid-text{
            font-size:20px;
          }
          .entire-reviews{
            position:relative;
            bottom:5  0px;
          }
          .news-on-homepage{
            position:relative;
            bottom:150px;
          }
          .actual-slideshow-container{
            position:relative;
            left:0px;
        }


    .store-grid-container{
        margin-right: -300px;
        margin-left: -250px;
        margin-top: 10px;
        position:relative;
        left:125px;

        }
        .store-grid-row{
            width:100%;
            position:relative;
            top:465px;
            margin-bottom:750px;
            }
        #history-parallax {
            height: 600px;
            width:  1200px;
            margin-left:57px;

          }
          .news-on-homepage{
            position:relative;
            right:20px;

        }
        .news-onhome-1,.news-onhome-2{
            padding-left:0;
            padding-right:0;

        }
        .reviews-container-main{
            position:relative;
            bottom:150px;
            overflow: hidden;
        }
        .rover-reviews{
          width:100vw;
          position:relative;
          bottom:70px;
          overflow: hidden;

        }

}
@media (max-width: 1300px) {

  .actual-slideshow-container{
    height:2vh;
    margin-bottom:50px;


  }
  .store-grid-image-middle .details p {
    font-size: 20px;
    position:relative;
    top:20px;
  }
  .store-grid-row{
    position:relative;
    left:75px;
  }
  .store-grid-container{
    margin-bottom:0px;
    overflow: hidden;
  }
  .store-grid-column-1{
    width:200px;
    height:200px;

      }
      .store-grid-column-2{
    width:350px;
    height:300px;

      }
      .store-grid-column-3{
        width:200px;
        height:200px;

          }

          .details .store-grid-text{
            font-size:20px;
          }
          .entire-reviews{
            position:relative;
            bottom:50px;
            overflow: hidden;
          }




    .menu {
     display:none;
     position: absolute;
     background-color:var(--navyBlue);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index:1;
    }
    .menu li:hover {
     display: inline-block;
     background-color:var(--lotsOfYellow);
     box-shadow:3px, 3px 5px;
     transition: 0.3s ease;


    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
     z-index:1;
    }
    .dropdown li:hover {
     background-color: var(--lotsOfYellow);

    }

    .actual-slideshow-container{
        position:relative;
        left:0px;
    }


.store-grid-container{
    margin-right: -300px;
    margin-left: -250px;
    margin-top: 10px;
    position:relative;
    left:125px;

    }
    .store-grid-row{
        width:100%;

        }
    #history-parallax {
        height: 600px;
        width:  1300px;
        margin-left:57px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;
        margin-bottom:-20px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;


    }
    .reviews-container-main{
        position:relative;
        bottom:110px;
        margin-bottom:-100px;
        overflow: hidden;
    }
    .footer-distributed{

		width: 100%;
    overflow: hidden;

	}

 }


@media (max-width:1280px) {
    .actual-slideshow-container{
        position:relative;
        left:0px;
    }

.store-grid-container{
    margin-right: 30px;
    margin-left: -75px;
    margin-top: 15px;

    overflow: hidden;
    width:1000px;
    }

    #history-parallax {
        height: 600px;
        width:  1000px;
        margin-left:100px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;
        margin-bottom:-400px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;


    }
    .reviews-container-main{
        position:relative;
        bottom:110px;
        overflow: hidden;

    }
    .footer-distributed{
      overflow: hidden;
		width: 100%;


	}.entire-reviews{
    display:none;
  }


}

  @media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
    overflow: hidden;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

  .actual-slideshow-container{
    height:2vh;
    margin-bottom:0px;


  }
  .store-grid-image-middle .details p {
    font-size: 20px;
    position:relative;
    top:20px;
  }
  .store-grid-row{
    position:relative;
    right:150px;
  }
  .store-grid-container{
    margin-bottom:300px;
    overflow: hidden;
  }
  .store-grid-column-1{
    width:200px;
    height:200px;

      }
      .store-grid-column-2{
    width:350px;
    height:300px;


      }
      .store-grid-column-3{
        width:200px;
        height:200px;

          }

          .details .store-grid-text{
            font-size:20px;
          }
          .entire-reviews{
            position:relative;
            bottom:5  0px;
            overflow: hidden;
          }
          .news-on-homepage{
            position:relative;
            bottom:150px;
          }




    .menu {
     display:none;
     position: absolute;
     background-color:var(--navyBlue);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index:1;
    }
    .menu li:hover {
     display: inline-block;
     background-color:var(--lotsOfYellow);
     box-shadow:3px, 3px 5px;
     transition: 0.3s ease;


    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
     z-index:1;
    }
    .dropdown li:hover {
     background-color: var(--lotsOfYellow);

    }

    .actual-slideshow-container{
        position:relative;
        left:0px;
        margin-bottom:-150px;
    }


.store-grid-container{
    margin-right: -300px;
    margin-left: -250px;
    margin-top: 10px;
    position:relative;
    left:125px;

    }
    .store-grid-row{
        width:100%;
        position:relative;
        bottom:75px;
        margin-left:-40px;

        }
    #history-parallax {
      margin-top:-300px;
        height: 400px;
        width:  700px;
        margin-left:57px;

      }
      .news-on-homepage{
        position:relative;
        right:20px;
        margin-bottom:-300px;

    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;

    }
    .reviews-container-main{
        position:relative;
        bottom:150px;
        overflow: hidden;
    }
    .rover-reviews{
      width:100vw;
      position:relative;
      overflow: hidden;

    }
    .footer-distributed{

		width: 100%;
    overflow: hidden;


	}


}
@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
    overflow: hidden;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

  .actual-slideshow-container{
    height:2vh;
    margin-bottom:0px;


  }
  .store-grid-image-middle .details p {
    font-size: 20px;
    position:relative;
    top:20px;
  }
  .store-grid-row{
    position:relative;
    right:100000px;
    margin-top:-100px;


  }
  .store-grid-container{
    margin-bottom:300px;
    overflow: hidden;
  }
  .store-grid-column-1{
    width:200px;
    height:200px;

      }
      .store-grid-column-2{
    width:350px;
    height:300px;
    display:none;
      }
      .store-grid-column-3{
        width:200px;
        height:200px;

          }

          .details .store-grid-text{
            font-size:20px;
          }
          .entire-reviews{
            position:relative;
            bottom:5  0px;
            overflow: hidden;
          }
          .news-on-homepage{
            position:relative;
            bottom:150px;
          }




    .menu {
     display:none;
     position: absolute;
     background-color:var(--navyBlue);
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index:1;
    }
    .menu li:hover {
     display: inline-block;
     background-color:var(--lotsOfYellow);
     box-shadow:3px, 3px 5px;
     transition: 0.3s ease;


    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
     z-index:1;
    }
    .dropdown li:hover {
     background-color: var(--lotsOfYellow);

    }

    .actual-slideshow-container{
        position:relative;
        left:0px;
        margin-bottom:-150px;
    }


.store-grid-container{
    margin-right: -300px;
    margin-left: -250px;
    margin-top: 10px;
    position:relative;
    left:125px;

    }
    .store-grid-row{
        width:100%;
        position:relative;
        bottom:75px;
        margin-left:-150px;

        }
    #history-parallax {
      margin-top:-300px;
        height: 300px;
        width:  500px;
        margin-left:20px;


      }
      #history-parallax::-webkit-scrollbar {
        display: none;
      }
      .news-on-homepage{
        position:relative;
        right:20px;
        margin-bottom:-300px;



    }
    .news-onhome-1,.news-onhome-2{
        padding-left:0;
        padding-right:0;

    }
    .reviews-container-main{
        position:relative;
        bottom:150px;
        overflow: hidden;
    }
    .rover-reviews{
      width:100vw;
      position:relative;
      overflow: hidden;

    }
    .footer-distributed{

		width: 100%;
    overflow: hidden;


	}

  .news-onhome-img{
    display:none;

   }


}
