body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.cart-title{
    margin: 0px 0px 20px 120px;
    font-size: 40px;
    font-weight: 600;
}
.cart-item-list-item-img{
    width: 270px;
}
.cart-item-list-item-img >img{
    height: 100%;
    width: 100%;
}
.cart-content{
    display: flex;
    margin: 0px 100px 0px 100px
}
.cart-item-list{
    background-color: white;
    padding: 30px;
    margin-right: 50px;
}
.cart-item-list-item{
    display:flex;
}
.cart-item-list-item >div{
    padding-right: 30px;
    font-size: 20px;
}
.cart-item-list-item-details-title >a{
    text-decoration: none;
    color: black;
}
.cart-item-list-item-details-title:hover{
    text-decoration: underline black;
    font-weight: 600;
    cursor: pointer;
}
.cart-item-list-item-details-partno{
    font-size: 15px;
    width: 100px;
}
.cart-item-list-item-details-partno:hover{
    text-decoration: underline black;
    font-weight: 600;
    cursor: pointer;
}
#cart-item-list-item-quantity{
    height: 40px;
    width: 80px;
    padding-left: 10px;
}
.cart-item-list-item-price{
    font-size: 15px;
}
#remove-from-cart-button{
    background-color: rgba(0, 0, 0, 0);
    height: 25px;
    width: 25px;
    font-size: 25px;
    border: none;
}
#remove-from-cart-button:hover{
    color:grey;
    cursor: pointer;
}
th {
    font-size: 18px;
    color: grey;
    text-align: left;
    padding: 0px 0px 20px 20px;
}
td{
    padding-left: 20px;
    vertical-align: top;
}
.cart-order-summary{
    background-color: white;
    padding: 30px;
    width: 35%;
}
.cart-order-summary-title{
    font-size: 25px;
    font-weight: 600;
}
.cart-order-summary-content{
    font-size: 18px;
}
.cart-order-summary-checkout{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
#checkout-button{
    width: 100%;
    height: 60px;
    background-color: var(--lotsOfYellow);
    border: solid 2px var(--lotsOfYellow);
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#checkout-button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
